.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Nav-bar{
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);


}

.Nav-Title{
  color: aliceblue;
  font-family: "Karla";
  font-size: 20.75px;
  font-weight: 700;
}




.logo{
  margin: 20px;
}

#top-text , #bottom-text{
  margin-left: 2.1rem;
  width: 14.4rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  margin-top: 6.3rem;
  border: 0.16rem solid #D5D4D8;
  font-family: "Karla";
}


.meme-button{

  font-family: "Karla";
  background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 30rem;
  height: 2.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

