.App {
  text-align: center;
  background-color: rgb(196, 180, 180);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
  
   
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

.Nav-bar{
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);
  padding: 20px;

}

.Nav-Title{
  color: aliceblue;
  font-family: "Karla";
  font-size: 20.75px;
  font-weight: 700;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
  color: aliceblue;
  font-family: "Karla";
}



.logo{
  margin: 20px;
}

#top-text , #bottom-text{
  margin-left: 2.1rem;
  width: 14.4rem;
  height: 2.2rem;
  border-radius: 0.3rem;
  margin-top: 6.3rem;
  border: 0.16rem solid #D5D4D8;
  font-family: "Karla";
}


.meme-button{

  font-family: "Karla";
  background: linear-gradient(to right, #672280 1.18%, #A626D3 100%);
  color: white;
  width: 100%;
  max-width: 600px;
  height: 2.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meme-image{
  max-width: 100%;
  margin-top: 1rem;
}

.memedisplay{
  margin-top: 1rem;
}

.meme {
  position: relative;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}


.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

